.home {
  .hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      &_line {
        display: flex;
        justify-content: center;
        gap: VW(30);
      }
      
      &_word {
      }

      &_char {
        display: inline-block;
        transform-origin: bottom;
      }
    }

    &_decor {
      position: absolute;
      width: 100vw;
      height: auto;
      color: transparent;
      
      &_top {
        top: 0;
      }

      &_bottom {
        bottom: 0;
      }
    }
  }
}
